<h1>New Article</h1>
<%= form_with model: @doctor do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :no %><br>
    <%= form.number_field :no %><br>
  </div>
  <div>
    <%= form.label :image %><br>
    <%= form.file_field :image %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
